.llenar{
    background-color:rgb(3, 3, 3) ;
}
th{
    color: aqua;
}
tbody{
    background-color: rgb(255, 252, 252);
}
.portada{
    margin-left: 605px;
}
body{
    background-color: black;
}
div a{
background-color: rgb(77, 75, 75);
color: aqua;
border-radius: 55%;
width: 100px;
height: 400px;
padding: 5px;
margin-left: 1250px;
}